
@import url('https://fonts.googleapis.com/css?family=Lato|Libre+Baskerville|Roboto+Slab&display=swap');
/*
	font-family: 'Lato',
	sans-serif;
	font-family: 'Roboto Slab',
	serif;
	font-family: 'Libre Baskerville',
	serif;
*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Slab', serif;
}

img {
	width: max-width;
	height: 100%;
}

#hero-scene {
	width: 100%;
	height: 100vh;
	background: url("../images/backgrounds/h_img.jpg") fixed center no-repeat;
	background-size: cover;
}

#welcome-message {
	color: white;
	text-align: center;
	width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

#brand-logo img {
	height: 75px;
	width: 75px;
	margin-top: 30px;
}

#message {
	margin-top: 50px;
}

.wlcm-bg {
	font-size: 3em;
}

.wlcm-sml {
	font-size: 14px;
}

.icon-scroll {
	position: absolute;
	left: 50%;
	top: 88%;
}

#about-us {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-left: 100px;
	margin-right: 100px;
}

#services {
	height: 400px;
	background: url("../images/backgrounds/s_image.jpg") no-repeat;
	background-origin: top right;
	background-size: cover;
	color: white;
}

#services-content {
	text-align: center;
	width: auto;
    height: auto;
    top: 47%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
}

#what-we-do {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

#wwd {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 50px;
	margin-right: 50px;
	padding: 10px 70px 40px 70px;
}

.what-we-do figure img {
	width: 60px;
	height: 60px;
}

.what-we-do:hover {
	cursor: pointer;
}

figcaption {
	font-family: 'Lato', sans-serif;
	font-size: small;
	padding-top: 5px;
}

#development-wwd {
	padding-left: 100px;
}

#design-wwd-description, #development-wwd-description, #product-management-wwd-description {
	display: none;
}

.wwd-description {
	width: 60%;
	height: auto;
	margin: 0 auto;
	border: 1px solid #00000030;
	border-radius: 25px;
	padding: 20px;
	background-color: #f5f5f5;
	box-shadow: 0 8px 15px -6px black;
}

.wwd-description h2 {
	margin-bottom: 20px;
}

.wwd-description h2 #c-underline {
	border-bottom: 2px solid black;
	padding: 5px;
}


#portfolio {
	text-align: center;
	margin-bottom: 40px;
}

#portfolio-cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 90%;
	margin: 0 auto;
	justify-content: center;
}

.card {
	width: 250px !important;
	height: 200px !important;
	margin: 10px;
}

#bailey-wonger {
	background: url("../images/portfolio/work8.jpg") no-repeat;
	background-size: cover;
}

#bailey-wonger #card-overlay {
	background: rgba(0, 0, 0, .8);
	width: 101%;
	height: 100%;
}

#bailey-wonger #card-overlay #bailey-wonger-content {
	color: white;
	border: 3px solid white;
	width: 75%;
	height: 75%;
	text-align: left;
	top: 50%;
	left: 50%;
	position: relative;
	transform: translate(-50%, -50%);
	padding-left: 10px;
	padding-top: 10px;
	font-weight: bold;
	font-size: 22px;
}

#contacts {
	background: url("../images/backgrounds/c_image.jpg") left no-repeat;
	background-size: cover;
	height: 70vh;
	color: white;
	text-align: center;
	padding: 30px;
}

#contacts h2 {
	margin: 20px auto 20px auto;
}

#contact-top {
	margin-bottom: 20px;
}

#contact-top input, #contact-bottom textarea {
	background: transparent;
	box-sizing: border-box;
	color: white;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid white;
	font-family: 'Lato', sans-serif;

}

::-webkit-input-placeholder {
	color: white;
}

::placeholder {
	color: white;
}

[type="text"], [type="email"] {
	width: 350px;
}

textarea {
	width: 705px;
	height: 200px;
}

#send-btn button {
	background-color: transparent;
	margin-top: 30px;
	color: white;
	border: 1px solid white;
	border-radius: 25px;
	padding: 10px;
}

#send-btn button:hover {
	background-color: white;
	color: black;
}

#send-btn button:active {
	outline: none;
}

#send-btn button:focus {
	outline: none;
}

#social-media {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 70%;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
	justify-content: center;
}

#social-media a {
	padding: 10px;
	width: 60px;
	height: 60px;
}

#copyright-info {
	text-align: center;
	margin-bottom: 10px;
	font-size: 12px;
}

/*----------Responsive----------*/
@media only screen and (max-width: 980px) {
	body, html, #container {
		overflow-x: hidden;
	}

	#development-wwd {
		padding-left: 50px;
		padding-right: 50px;
		margin: 0 40px 0 40px;
	}

	[type="email"] {
		margin-top: 10px;
	}

	textarea {
		width: 350px;
		margin-top: 30px;
	}

	#social-media a {
		padding: 5px;
		width: 40px;
		height: 40px;
	}
}

@media only screen and (min-width: 1366px) {
	.card {
		width: 300px !important;
		height: 250px !important;
		margin: 10px;
	}	
}